# Files without extension
*
!*.*
!*/
!Makefile
!makefile

# C file

*.o
*.out
*.so
*.so.*

# Java file

*.class
*.jar

# Python file

__pycache__/

# Compressed file

*.zip
*.tar
*.tar.*

# Flex file

*.tab.*
